<header>
    <a href="https://www.sunlandbuildingservices.com"><img id="logo" src="https://www.sunlandbuildingservices.com/images/sunland_logo.png" width="100px"/></a>
         <nav>
            <ul>
                <li>
<!-- hamburger nav lines for mobile-->
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
<!-- hamburger nav lines for mobile-->
                </li>
                <li><a href="https://www.sunlandbuildingservices.com/about-us.html">About</a></li>
                <li><a href="https://www.sunlandbuildingservices.com/services">Services</a></li>
                <li><a href="https://www.sunlandbuildingservices.com/contact.html">Contact</a></li>
            </ul>
        </nav>
</header> 