* {
	box-sizing: border-box;
}

body {
    font-family: 'OpenSans', sans-serif;
}
.tall {
	height: 500px;
	border-bottom:solid 0px rgba(52,52,52,.2);
}
.medium {
	height: 300px;
	border-bottom:solid 5px rgba(52,52,52,.2);
	border-top:solid 5px rgba(52,52,52,.2);
}
/****************************/
/*layout
/****************************/
h1 {
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    color:white;

}
h2 {
   	font-size: 30px;
   	font-weight: 600;
  	font-weight: 600;
}
h3 {
   	font-size: 26px;
   	text-align: center;
    color: #fff;
    font-weight: 300;
}
h4 {
    font-size: 22px;
    color: #fff;
    font-weight: 300;
}
h5 {
    font-size: 16px;
    color:#343434;
    font-weight: 700;
}
p {
  	font-size: 15px;
  	color:#343434;
  	letter-spacing: -0px;
    line-height: 30px;
}

/*******************/
/* header styling
/*******************/

header {
	width:100%;
	background-color:#F5F5F5;
	color: #fff;
	border-bottom:solid 5px rgba(52,52,52,.2);
  position: relative;
}
header img {
	margin-left:20px;
	padding-top:20px;
  padding-bottom:20px;
	width: 50%;
  max-width: 100px;
  min-width: 90px;
}

#wrapper {
    max-width: 1440px;
    margin: auto;
    border:1px solid;
    border-color: #f8f8f8;
}

nav {
	float:right;
  overflow: hidden;
}
nav ul {
	list-style-type: none;
	font-size: 20px;
  font-weight: 300;
}
nav ul li {
    float:left;
}
nav ul li a {
    text-decoration: none;
    color:#343434;
    display: block;
    padding: 10px 20px;
}
nav ul li a:hover {
    color:#d8d8d8;
    
}
nav ul li:first-child {
    position: absolute;
    background-color: transparent;
    top: 30px;
    right: 30px;
    display: none;
}
#logo {
    margin-left: 5%;
}

/**************************/
/* end header styling
/*************************/
section a {
	text-decoration: none; 
	color: #fff;
}
aside a {
	text-decoration: none;
	color:#008BC1;
}

/****************************/
/*services page styling
/****************************/

.services {
    width: 65%;
    margin: 0 auto;
    height: 500px;
/*    margin-top:5%;*/
    margin-bottom:10%;
/*    padding-bottom: 10%;*/
    text-align: center;
}
.services p {
    margin-bottom: 5%;
}
.services ul li{
    list-style: none;
    margin-right:6.4%;
    margin-bottom:6.4%;
}
.services h2 {
    color: #343434;
    margin-bottom: 5%;
}


/****************************/
/*how it works styling
/****************************/

.gray-box {
	width:100%;
	background-color:#F8F8F8;
}
.hiw {
    width:80%;
    margin: 0 auto;
    padding-top:2%;
    text-align: center;
}
.hiw-col{
    width:100%;
    margin:1px;
    max-height:80%;
}
.hiw-image {
    max-width:150px;
    min-width: 70px;
    margin-top:5%;
}
.hiw ul {
    list-style-type: none;
}
.hiw li {
    width: 30%;
    text-align: center;
    margin-bottom: 2%;
}
.hiw li p {
    font-size: 16px;
    line-height: 24px;
    color:#343434;
}
.left {
	float:left;
}
.right {
	float:right;
}
.hero {
	width:100%;
	background-color:#008BC1;
  padding: 200px 0px 200px 0px;
	text-align: center;
  background: url(../images/los-angeles-x-large.png) no-repeat center center fixed;
  position: relative;
  height: 40%;
}
.hero h1 {
    position: relative;
}
.hero h3 {
  margin-bottom: 5%;
  padding-left:5%;
  padding-right:5%;
  padding-bottom:5%;
}
.primary-cta {
	font-size: 20px;
	font-weight: bold;
    color:#ffffff;
	width: 300px;
	height: 72px;
	border-radius: 50px;
	background-color:#ff9500;
	padding: 25px 10px;
	margin:auto;
    text-align: center;
}
.secondary-cta {
	color: #008bc1;
	font-weight: bold;
	width: 300px;
	height: 72px;
	border-radius: 50px;
	border:5px solid #008bc1;
	background-color: #ffffff;
	padding: 20px 10px;
	margin:auto;
    text-align: center;
}
.testimonial {
	width:100%;
  height: 100%;
	background-color: #343434;
}
.testimonial h2 {
 	font-size: 24px;
 	font-weight: 300;
 	text-align: center;
  	color: #fff;
  	font-weight: 600;
  	padding-top:5%;
/*    padding-bottom:10%;*/
}
.testimonial-1 {
	color: #ffffff;
	font-weight: 200;
  font-style: italic;
  text-align: center;
  width: 58%;
  margin: 0 auto;
  font-size: 24px;
  line-height: 30px;
  padding-bottom:5%;

 /* 	position: relative;
  	top:20%;
  	left:50%;
  	transform: translate(-50%, -50%);
  	padding-right:200px;
  	padding-left:200px;
  	text-align: center;
  	font-size: 24px;
    line-height: 32px;*/
}
.free-quote {
	padding: 40px 0px;
  	text-align: center;
	width:100%;
	height: 150px;
	background-color:#008BC1;
	border-bottom:solid 5px rgba(52,52,52,.2);

}
.free-quote-dark {
	padding: 40px 0px;
  text-align: center;
	width:100%;
	height: 150px;
	background-color:#343434;
	border-bottom:solid 5px rgba(52,52,52,.2);
}

/**********************************/
/*** begin "about sunland" styling */
/********************************/

.about {
	width:100%;
  height:1000px;
/*	background-color:#fff;*/
	text-align: center;
  padding-left:8%;
  padding-top:5%;
}
.about-one {
  float:left;

}
.about-two {
  float: left;

}
.image-medium {
	width:50%;
  height: 100%;
  min-width: 320px;
}

.about-content {
width:50%;
height:100%;
padding:5%;
min-width: 320px;

}

/**********************************/
/*** end "about sunland" styling ***/
/********************************/


/******************************/
/*/article class styling
/******************************/
.article {
    width: 50%;
    margin: 0 auto;
    margin-top:5%;
    margin-bottom:5%;
}
.article h2 {
    color:#343434;
    text-align: left;
}
.article h3 {
    color:#343434;
    text-align: left;
}
.article li {
    font-size: 16px;
    font-weight: 600;
    color: #343434;
    line-height: 35px;
}
.article-image {
    margin: auto;
    width:100%;
}
.article p {
    margin-bottom: 5%;
   /* overflow: hidden;*/
}
.article p a {
   font-size: 16px;
    font-weight: 600;
    color: #008BC1;
}
.news-logos {
    width:75%;
	margin:auto;
    text-align: center;
}
.video {
    width:100%;
    height:50%;
}
.infographic {
    width:100%;
    margin: auto;
 /*   min-width: 375px;*/
}

/******************************/
/*/footer styling
/******************************/
footer {
	width:100%;
	background-color:#008BC1;
    height: 300px;
	border-bottom:solid 5px rgba(52,52,52,.2);
	border-top:solid 5px rgba(52,52,52,.2);
	}
footer ul {
    list-style-type: none;
}
footer a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
	line-height: 2;
    font-weight: 100;
}
.footer-col {
    color:#ffffff;
    font-size: 14px;
	line-height: 2;
    font-weight: 100;
    margin-right:4.5%;
}

#footer-content {
    margin-left:20%;
    margin-top:3%;
}
#legal {
    font-size: 10px;
    color:#f8f8f8;
    clear:both;
}
#legal a {
    font-size: 10px;
    color:#f8f8f8;
    text-decoration: underline;
}
/****************************************/
/*form styling*current as of 04-26-2017*/
/*functionality of the form comes from*/
/*https://formspree.io/***************/
/************************************/

input, textarea, select{
  display: block;
}

input {
  margin-bottom:2em;
  margin-top:2em;
  padding:15px;
}
input[type="text"] {
  width: 300px;
  background:#f8f8f8;
  color:#000000;
  border-radius:5px;
    font-size: 15px;
}
input[type="email"] {
  width: 300px;
  background:#f8f8f8;
  color:#000000;
  border-radius:5px;
    font-size: 15px;
}
input[type="tel"] {
  width: 300px;
  background:#f8f8f8;
  color:#000000;
  border-radius:5px;
    font-size: 15px;
}
#details {
  width: 300px;
  height: 100px;
  background:#f8f8f8;
  color:#000000;
  border-radius:5px;
    font-size: 15px;
  padding:15px;
}
input[type="radio"]{
  display:inline-block;
  background:blue;
}

/************************/
/** begin submit button styling ***/
/***********************/

#submit {
  width:100%;
  height: 72px;
  background-color: #ff9500;
  border-radius: 50px;
  border:none;
  font-family: 'OpenSans' 'sans-serif';
  font-size:;
  font-size: 20px;
  font-weight: bold;
  color:#ffffff;
}

/************************/
/** end submit button styling ***/
/***********************/

input[type="radio"]+label::before{ 
  content:"";
  display:inline-block; 
  width:1em;
  height:1em;
  background:blue;
}

input[type="radio"]:checked+label::before{
  content:"\2713";
  text-align:center;
  background:green;
  color: white;
}
input[type="radio"]{
  display:none;
}
#contact-form {
  display:block;
  text-align:center;
}
form {
  display:inline-block;
  margin:0 auto;
  text-align:left;
}
#contact-content {
  width:25%;
    min-width: 300px;
  margin:0 auto;
}
/***********************/
/*end form style sheet*/
/*********************/


/***********************/
/*begin styling of the hamburger menu on desktop*/
/*********************/


.line {
    display:block;
    width:40px;
    height:5px;
    border-radius:50px;
    margin-bottom:10px;
    background-color:#BBBBBB;
}
/*********************/
/********************/
/*mobile css layout*/
/******************/
/*****************/

@media screen and (max-width:768px) {
    
.wrapper {
    position: relative;
}

/***********************/
/* start: mobile nav  */
/*********************/

/***********************/
/* start: hero mobile stylin  */
/*********************/

  .hero {
    padding: 75px 0px 75px 0px;
    background: url(../images/los-angeles-x-large.png) no-repeat center center /*fixed;*/
  }
  .hero h1 {
    font-size: 34px;
  }
  .hero h3 {
    font-size: 18px;
  }


/***********************/
/* hamburger visible  */
/*********************/

nav ul li:first-child {
    display: block;
}

nav.show {
    height:12em;

  }

nav {
  float:none;
  display: inline-block;
  width:100%;
  text-align: center;
  transition: 1s;
  height: 0;
  overflow: hidden;

}

nav ul {
  display: block;
}

nav ul li {
    float:none;
}
  nav ul li:first-child {
      display: block;

}

  nav ul li:first-child:hover{
  cursor:pointer;
}


/**********************/
/* end: mobile nav  **/
/********************/

/**********************************************/
/*04262017 - content prioritization*/
/*concealed the "Sunland Difference" section on mobile*/
/**************************************/
    
.hiw {
  display:none;
    }
.gray-box {
    display: none;
    }
/**********************************************/
/*04262017 - content prioritization*/
/*concealed the "Sunland Difference" section on mobile*/
/**************************************/

/*****************************************/
/* start: mobile "about sunland" styling*/
/***************************************/

.about {
  margin-bottom:325px;
  width: 100;
  padding-left:0;
}

.about-one {
  float: none;
  width: 100%;
  margin-bottom:40px;



}
.about-two {
  float: none;
  width: 100%;



}
.about-content {
  float:none;
  width: 100%;

}
.about-image {
  float:none;
  width: 100%;

}
.image-medium {
  float:none;
}

/************************/
/* start: mobile testimonial styling*/
/**********************/
.testimonial {
padding-top:10%;
padding-bottom: 10%;
}

.testimonial h2 {
  font-size:20px;

}
.testimonial p {
  font-size:15px;
  line-height: 26px;
  text-align: center;
}

 /************************/
/* start: mobile footer*/
/**********************/   


footer {
    
  height: 100%;
  clear:both;
	} 
  .footer-col {
    float:none;
  }

 
/************************/
/* end: mobile footer*/
/**********************/  

/*********************************/
/* start: mobile article styling*/
/*******************************/

.article {
  width:80%;
  min-width:300px;

}
.article h2, .article h3{
  font-size:24px;
}
.article p {
  font-size:16px;
  line-height: 28px;
}
.article-image {
  display: none;
}

/*********************************/
/* start: mobile services page styling*/
/*******************************/

.service-icon {
  float:none;
}
.services {
  height: inherit;
}
