    <div id="footer-content">
        <ul class="footer-col left">
            <li><strong>SUNLAND</strong></li>
            <li><a href="https://www.sunlandbuildingservices.com/about-us.html">About Us</a></li>
            <li><a href="https://www.sunlandbuildingservices.com/services">Our Services</a></li>
            <li><a href="https://www.sunlandbuildingservices.com/sunland-community.html">Super Heroics</a></li>
            <li><a href="https://www.sunlandbuildingservices.com/what-happened-to-the-la-river-infographic.html">L.A River Infographic</a></li>
        </ul>
        <ul class="footer-col left">
            <li><strong>SERVICES</strong></li>
            <li><a href="https://www.sunlandbuildingservices.com/services/window-cleaning.html">Window Cleaning</a></li>
            <li><a href="https://www.sunlandbuildingservices.com/services/building-caulking.html">Building Caulking</a></li>
            <li><a href="https://www.sunlandbuildingservices.com/services/pressure-washing.html">Pressure Washing</a></li>
            <li><a href="https://www.sunlandbuildingservices.com/services/pest-and-bird-control.html">Pest and Bird Control</a></li>
        </ul>
        <ul class="footer-col left">
            <li><br></li>
            <li><a href="https://www.sunlandbuildingservices.com/services/solar-panel-cleaning.html">Solar Panel Cleaning</a></li>
            <li><a href="https://www.sunlandbuildingservices.com/services/roof-equipment-inspections.html">Roof Inspections</a></li>
            <li><a href="https://www.sunlandbuildingservices.com/services/metal-restoration.html">Metal Restoration</a></li>
            <li><a href="https://www.sunlandbuildingservices.com/services/commercial-painting.html">Commercial Painting</a></li>
        </ul>
        <ul class="footer-col left">
            <li><strong>CONTACT</strong></li>
            <li>Phone:<strong> <a href="tel:7145296254">(714) 529-6254</a></strong></li>
            <li>101 W. Central Avenue, Suite B #102</li>
            <li>Brea, Ca 92821</li>
        </ul>
        <p id="legal">© 2018 Sunland Window Cleaning. All Rights Reserved. Website by <a href="https://cartoonfood.com" target="_blank">Cartoon Food</a></p>
    </div>  