
<div class="content-container">
    <h2>Our Services</h2>
    <p>Need something done? We do it all! <a href="../../contact.html">Contact us today</a> if you need a service that you don't see here.</p>
</div>
    <div class="services">
        <div class="servicesGroup">
            <div id="metal" class="rectangle">
                <a href="metal-restoration.html"><img src="../../images/metal.png"></a>
            </div>
            <div id="paint" class="rectangle">
                <a href="commercial-painting.html"><img src="../../images/paint.png"></a>
            </div>
            <div id="pest" class="rectangle">
                <a href="pest-and-bird-control.html"><img src="../../images/pest.png"></a>
            </div>
            <div id="caulking" class="rectangle">
                <a href="building-caulking.html"><img src="../../images/caulking.png"></a>
            </div>
            <div id="window" class="rectangle">
                <a href="window-cleaning.html"><img src="../../images/window.png"></a>
            </div>
            <div id="solar" class="rectangle">
                <a href="solar-panel-cleaning.html"><img src="../../images/solar.png"></a>
            </div>
            <div id="roof" class="rectangle">
                <a href="roof-equipment-inspection.html"><img src="../../images/roof.png"></a>
            </div>
            <div id="pressure" class="rectangle">
                <a href="pressure-washing.html"><img src="../../images/pressure.png"></a>
            </div>
        </div>
    </div>
